<router-outlet></router-outlet>

<app-exemplos-pipes></app-exemplos-pipes>

<!-- <app-cursos></app-cursos> -->

<!-- <app-diretivas-customizadas></app-diretivas-customizadas> -->

<!-- <content>
  <div class="titulo">
    Título do Painel
  </div>
  <div class="corpo">
    Esse é o corpo da página
  </div>
  <app-diretiva-ngfor></app-diretiva-ngfor>
</content> -->

<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->

<!-- <app-diretiva-class></app-diretiva-class> -->

<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->

<!--app-diretiva-ngswitch></app-diretiva-ngswitch-->

<!-- <ul>
  <li *ngFor="let curso of cursos">
    {{ curso }}
  </li>
</ul> -->

<!-- <app-data-binding></app-data-binding> -->

<!-- <app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo"></app-ciclo>
<button (click)="mudarValor()">Mudar Valor</button>
<button (click)="destruirCiclo()">Deletar</button> -->
